/* --------------------------------- COLORS --------------------------------- */

$col-main-light: #f7fafa;
$col-main-dark: #191a24;
$col-accent-neutral: #474bfb;
$col-accent-pos: #33e0d6;
$col-accent-neg: #f86767;

$col-main-light-sub: #d5dde1;
$col-main-dark-sub: #3b3d54;
$col-accent-neutral-sub: #3f41b8;
$col-accent-pos-sub: #3ac2bb;
$col-accent-neg-sub: #d85d5d;

/* ------------------------------ MEASUREMENTS ------------------------------ */

$mes-border-radius: 4px;
$mes-border-width: 1px;

$mes-gap-s: 0.25rem; // 4px @16px
$mes-gap: 0.5rem; // 8px @16px
$mes-gap-l: 1rem; // 16px @16px