@import "_variables.scss";

:export {
  colMainLight: $col-main-light;
  colMainDark: $col-main-dark;
  colAccentNeutral: $col-accent-neutral;
  colAccentPos: $col-accent-pos;
  colAccentNeg: $col-accent-neg;

  colMainLightSub: $col-main-light-sub;
  colMainDarkSub: $col-main-dark-sub;
  colAccentNeutralSub: $col-accent-neutral-sub;
  colAccentPosSub: $col-accent-pos-sub;
  colAccentNegSub: $col-accent-neg-sub;
}