.contain-album-form {
    .header {
        .contain-header {
            @extend %_ds-flex-shared-row;
            justify-content: space-around;
            height: 20vh;
            width: 100%;
            padding: 10px;
            
            img {
                width: 128px;
                height: 128px;
            }
            .contain-icon{
                align-self: center;
            }
            .contain-cover{
                align-self: center;
                width: auto;
            }
            .contain-input{
                align-self: center;
                width: 75%;
                height: 60%;
            }
            .contain-button{
                align-self: end;
                width: 10%;
            }
        }
    }
    .content-form-album{
        width: 100%;
        height: 100%;
        .list-form-album{
            border-radius: 4px;
            .form-song-album {
                @extend %_ds-flex-shared-row;
                justify-content: space-around;
                align-items: center;
                background-color: $col-main-light;
                .number{
                    font-size: 2rem;
                }
                .contain-other-icon{
                    @extend %_ds-flex-shared-row;
                    justify-content: space-between;
                    width: 5%;
                }
                .contain-input-audio{
                    margin: 4px;
                    width: 30%;
                    
                }
            }
            .form-song-album:last-child {
                justify-content: center;
                align-items: center;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                height: 4vh;
                background-color: $col-main-light-sub;
            }
        }
    }
}

.form-cover {
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: column;
    background-color: rgba(203, 203, 203, 0.465);
    color: black;
    border-radius: 4px;
    position: relative;
    border: 0.5px solid blue;
    .logo-upload {
        height: 50%;
    }
    span {
        font-size: 1em;
    }
    > * {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    p > span {
        margin: 0 5px;
        font-size: 1em;
        color: rgb(0, 187, 255);
    }
    .input-file{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
.form-file:hover{
    background-color: rgba(206, 206, 206, 0.767);
}