@import '../App.scss';

.content-album{
    padding-right: 5px; 
    border-radius: 4px; 
    margin-left: 16px; 
    background: white; 
    width: 100%;
    height: 100%;
    display: block;
    .head {
        @extend %_ds-flex-row-nowrap;
        padding: 7px;
        width: 100%;
        height: 10%;
        .title {
            @extend %_ds-flex-row-nowrap;
            width: 90%;
            img {
                width: 55px;
                height: 55px;
            }
            h3 {
                font-weight: bold;
                font-size: 2.5em;
                margin-left: 5px;
            }
        }
    }
    .container-list{
        height: 90%;
        width: 100%;
    }
    .list-song {
        &::-webkit-scrollbar {
            display: none;
        }
        padding-top: 1em;
        overflow-y: none;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        .song-li:hover{
            //background: $col-main-dark;
            //color: $col-main-light;
        }
        .song-li{
            @extend %_ds-flex-row-nowrap;
            padding: 5px 0; 
            width: 100%; 
            height: 15%;
            .song-li-info{
                width: 85%;
                height: 90%;
                h4 {
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }
            .song-li-action{
                @extend %_ds-flex-row-nowrap;
                justify-content: space-around; 
                width: 10%; 
                margin: 10px;
                > svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

