:root {
  font-size: 16px;
}

/* ---------------------------------- FLEX ---------------------------------- */

%_ds-flex-shared {
  align-items: center;
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }
}

.ds-align-self {
  &-stretch {
    align-self: stretch;
  }

  &-start {
    align-self: start;
  }

  &-end {
    align-self: end;
  }
}

.ds-flex {
  &-stretch {
    align-items: stretch;
  }

  &-start {
    align-items: start;
  }

  &-end {
    align-items: end;
  }

  &-row {
    &-start {
      @extend %_ds-flex-shared-row;

      justify-content: start;
    }

    &-center {
      @extend %_ds-flex-shared-row;

      justify-content: center;
    }

    &-end {
      @extend %_ds-flex-shared-row;

      justify-content: end;
    }

    &-between {
      @extend %_ds-flex-shared-row;

      justify-content: space-between;
    }

    &-around {
      @extend %_ds-flex-shared-row;

      justify-content: space-around;
    }

    &-even {
      @extend %_ds-flex-shared-row;

      justify-content: space-evenly;
    }
  }

  &-col {
    &-start {
      @extend %_ds-flex-shared-col;

      justify-content: start;
    }

    &-center {
      @extend %_ds-flex-shared-col;

      justify-content: center;
    }

    &-end {
      @extend %_ds-flex-shared-col;

      justify-content: end;
    }

    &-between {
      @extend %_ds-flex-shared-col;

      justify-content: space-between;
    }

    &-around {
      @extend %_ds-flex-shared-col;

      justify-content: space-around;
    }

    &-even {
      @extend %_ds-flex-shared-col;

      justify-content: space-evenly;
    }
  }
}

/* ---------------------------------- TEXT ---------------------------------- */

%_ds-text-shared {
  color: $col-main-dark;

  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;

  align-items: center;
}

.ds-text {
  &-body {
    @extend %_ds-text-shared;

    font-size: 1.125rem; // 18px @16px

    &-l {
      font-size: 1.5rem; // 24px @16px
    }
    &-s {
      font-size: 1rem; // 16px @16px
    }
  }
  &-button {
    @extend %_ds-text-shared;

    font-size: 1.125rem; // 18px @16px
    text-transform: uppercase;

    &-l {
      font-size: 1.5rem; // 24px @16px
    }
    &-s {
      font-size: 1rem; // 16px @16px
    }
  }
  &-header {
    @extend %_ds-text-shared;

    font-size: 2rem; // 32px @16px;
    font-weight: 600;

    &-l {
      font-size: 3rem; // 48px @16px;
    }
    &-s {
      font-size: 1.5rem; // 24px @16px;
    }
  }
  &-tooltip {
    @extend %_ds-text-shared;

    font-size: 1rem; // 16px @16px;

    &-s {
      font-size: 0.875rem; // 14px @16px;
    }
  }
}
