/* --------------------------------- COLORS --------------------------------- */

$col-main-light: #f7fafa;
$col-main-dark: #191a24;
$col-accent-neutral: #474bfb;
$col-accent-pos: #33e0d6;
$col-accent-neg: #f86767;

$col-main-light-sub: #d5dde1;
$col-main-dark-sub: #3b3d54;
$col-accent-neutral-sub: #3f41b8;
$col-accent-pos-sub: #3ac2bb;
$col-accent-neg-sub: #d85d5d;
