.ds-button {
  background: transparent;
  border: $mes-border-width solid $col-main-dark;
  color: $col-main-dark;

  &-regular {
    gap: $mes-gap-s;
    padding-left: $mes-gap-s;
    padding-right: $mes-gap-s;
    height: 2rem;
  }
  &-large {
    gap: $mes-gap;
    padding-left: $mes-gap;
    padding-right: $mes-gap;
    height: 3rem;
  }

  &-icon {
    &.ds-button {
      &-regular {
        padding: 0;
        height: 2rem;
        width: 2rem;
      }
      &-large {
        padding: 0;
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

.ds-text-button {
}

.ds-icon-button {
  
}
