.contain-player-bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../Images/stamina.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.blur-effect {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(30, 30, 30, 0.219);
    backdrop-filter: blur(20px);
}

.logo-player {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 3;
}

.player-nav {
    position: absolute;
    width: 80vw;
    height: 3vw;
    z-index: 2;
    bottom: 20px;
    left: 10%;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.contain-cover {
    position: absolute;
    top: 15%;
    left: 35%;
    width: 600px;
    height: 600px;
    z-index: 2;
}

.comment-button-contain {
    width: 15%;
    height: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.like-button-contain {
    width: 10%;
    height: 100%;
}

.arrow-left-button-contain {
    width: 10%;
    height: 100%;
}

.play-button-contain {
    width: 20%;
    height: 100%;
}

.back-button-contain {
    width: 5%;
    height: 100%;
}

.arrow-right-button-contain {
    width: 10%;
    height: 100%;
}

.skip-button-contain {
    width: 5%;
    height: 100%;
}

.add-button-contain {
    width: 10%;
    height: 100%;
}

.list-button-contain {
    width: 15%;
    height: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.player-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bulles-contain {
    position: relative;
    width: 27%;
    height: 100%;
}

.bulle{
    position: absolute;

    border-radius: 100px;
    background-color: blue;
}

.bulle-user{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 80px;
    right: 0;
    border-radius: 100px;

    .avatar-bulles{
        width: 100%;
        border-radius: 100px;
    }

}