.wave.ico {
    path{
        d: path("M0 1.52588e-05L960 0L1920 1.52588e-05V155C1920 155 1889 235 1536 220C1183 205 742 115 806.5 155C922.811 227.131 975.5 658 0 155V1.52588e-05Z");
        animation-duration: 5s;
        animation-name: AnimationWave;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
}

@keyframes AnimationWave {
    0% {
      d: path("M0 1.52588e-05L960 0L1920 1.52588e-05V155C1920 155 1889 235 1536 220C1183 205 742 115 806.5 155C922.811 227.131 975.5 658 0 155V1.52588e-05Z")
    }
    100% {
      d: path("M0 1.52588e-05L960 0L1920 1.52588e-05V155C1920 155 689 448 493 280.5C297 113 137 146 183.5 155C317.868 181.007 183.5 380.5 0 155V1.52588e-05Z")
    }
  }