// make extend for call properties like flex

@tailwind base;
@tailwind components;
@tailwind utilities;

$dark : #191A24;
$primary : #333ce0;

.App {
    background-color: $dark;
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.icon{
    width: 58px;
    height: 58px;
}

img {
    border-radius: 4px;
}

.sidebar ul {
    border-radius: 5px;
     li a p{
        display: none;
    }
     li a {
        padding: 5px;
    }
}

.container-app {
    display: block;
    height: 100%;
    padding: 0 150px;
    margin: 0;
    .contain-explorer{
        @extend %_ds-flex-row-nowrap;
        margin-top: 16px;
        height: 100%;
        .content{
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 0 0 1.5%;
            .banner{
                position: relative;
                width: 100%;
                height: 35%;
            }
            .container-playlist{
                @extend %_ds-flex-row-nowrap;
                margin-top: 16px;
                height: 62.5%;
                width: 100%;
            }
        }
    }
}

.seekbar{
    @extend .seekbar;
    .time{
        @extend .time;
        width: 0;
    }
}

#close-effect{
    position: absolute;
    background-color: #191a24a6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-modal{
    position: absolute;
    background-color: #241919a6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}