// make extend for call properties like flex

@tailwind base;
@tailwind components;
@tailwind utilities;

$dark : #191A24;
$primary : #33E0D6;

.App {
    background-color: $dark;
}

.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon{
    width: 58px;
    height: 58px;
}

img {
    border-radius: 4px;
}

